
[data-loader='circle']
  {
    width: 2.5em;
    height: 2.5em;
   -webkit-animation: circle infinite 1.25s linear;
      -moz-animation: circle infinite 0.75s linear;
        -o-animation: circle infinite 1.25s linear;
           animation: circle infinite 1.25s linear;
   border: 3px solid #64e346;
   border-top-color: transparent;
   border-radius: 100%;
 }

 @-webkit-keyframes circle
{ 100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
} }
@-moz-keyframes circle
{ 100% { transform: rotate(360deg);}}
@-o-keyframes circle
{ 100% {
  -o-transform: rotate(360deg);
    transform: rotate(360deg);
} }
@keyframes circle
{ 100% {transform: rotate(360deg);}}


.show-popup {
  transform-origin: 50% 0;
  animation: showing-popup 300ms ease-in;
}

@keyframes showing-popup {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  20% {
    opacity: 0;
    transform: scaleY(1);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}


.check-in {
  stroke-dasharray: 26;
  stroke-dashoffset: 26;
  /*animation: checking 0.2s linear forwards;*/
  animation: checking 0.2s ease-in forwards;
  
}
@keyframes checking {
  from { stroke-offset: 26; }
  to { stroke-dashoffset: 0 }
}

