
[data-loader='circle']
  {
    width: 2.5em;
    height: 2.5em;
   -webkit-animation: circle infinite 1.25s linear;
      -moz-animation: circle infinite 0.75s linear;
        -o-animation: circle infinite 1.25s linear;
           animation: circle infinite 1.25s linear;
   border: 3px solid #64e346;
   border-top-color: transparent;
   border-radius: 100%;
 }

 @-webkit-keyframes circle
{ 100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
} }
@-moz-keyframes circle
{ 100% { transform: rotate(360deg);}}
@-o-keyframes circle
{ 100% {
  -o-transform: rotate(360deg);
    transform: rotate(360deg);
} }
@keyframes circle
{ 100% {transform: rotate(360deg);}}


.show-popup {
  transform-origin: 50% 0;
  animation: showing-popup 400ms ease-out;
}
@keyframes showing-popup {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
