
[data-loader='circle'] {
   width: 2.5em;
   height: 2.5em;
   border-radius: 100%;   
   border: 3px solid #00bcd4;
   border-top-color: transparent;   
   animation: circle infinite 1.25s linear;   
}

@keyframes circle { 
  100% { transform: rotate(360deg); }
}

.show-popup {
  transform-origin: 50% 0;
  animation: showing-popup 300ms ease-in;
}

@keyframes showing-popup {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  20% {
    opacity: 0;
    transform: scaleY(1);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

.check-in {
  stroke-dasharray: 26;
  stroke-dashoffset: 26;  
  animation: checking 150ms ease-in forwards;  
}

@keyframes checking {
  from { stroke-offset: 26; }
  to { stroke-dashoffset: 0 }
}

@media screen and (max-width: 540px) {
  .show-popup {    
    animation: showing-popup 150ms ease-in;
  } 
  .check-in {    
    animation: checking 0.1s ease-in forwards;  
  }
}