
.bt-triple {
  display: inline-block;  
}
.bt-triple > button {  
  color: silver;
  font-weight: 600;  
}
.bt-triple > button:hover {
  background-color: rgba(0,0,0, 0.2);
}

.bt-triple__one {
  padding: 7px 6px 5px 8px;
  border-radius: 4px 0 0 4px;  
  border: 2px solid #1b2836;
  border-right-width: 0;
}

.bt-triple__two {
  padding: 7px 6px 5px;
  border: 2px solid #1b2836;
  border-left-width: 0;
  border-right-width: 0;
}

.bt-triple__three {
  padding: 7px 8px 5px 6px;
  border-radius: 0 4px 4px 0;  
  border: 2px solid #1b2836;
  border-left-width: 0;
}
