
.bt-circle {
  fill: silver;
  stroke: silver;
  width: 35px;
  height: 35px;
  border-radius: 50%;  
  border: 2px solid #64e346;  
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);  
}
.bt-circle > svg {
  width: 34px;
  height: 34px;
}
.bt-circle:hover {  
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 6px 0 rgba(0,0,0,0.3), 0 4px 15px 0 rgba(0,0,0,0.2);
}
.bt-circle:focus {  
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 6px 0 rgba(0,0,0,0.3), 0 4px 15px 0 rgba(0,0,0,0.2);
  fill: #00bcd4;
  stroke: #00bcd4;
}
