
.equalizer {
  width: 24px;
  height: 24px;
  margin-left: 16px;
  background: url("/radio-player/css/ani_equalizer_green.gif");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateZ(90deg);
}
.equalizer--not-playing {
  width: 24px;
  height: 24px;
  margin-left: 13px;
}
