
.item-list {
  width: 380px;
  max-width: calc(100vw - 32px);
}

.item-station {
  position: relative;
  width: 100%;
  padding-left: 12px;
  margin-bottom: 4px;
  line-height: 2.5;
  text-align: left;
  font-weight: 600;
  border-radius: 2px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.item-station:hover,
.item-station:focus {
  outline: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.item-station__access {
  position: absolute;
  right: 12px;
  color: #ffba49;
}

@media screen and (max-width: 420px) {
  .item-station {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
